@import url(http://fonts.googleapis.com/css?family=RobotoDraft);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: 'RobotoDraft', 'Nanum Gothic', sans-serif;
}

.nowrap {
  white-space: nowrap;
}

.contents {
  max-width: 800px;
  margin: auto;
}