@import url(http://fonts.googleapis.com/css?family=RobotoDraft);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: 'RobotoDraft', 'Nanum Gothic', sans-serif;
  width: 100%;
  height: 100%;
}

.menu-button {
  width: 80px
}

.body-wrapper {
  width: 100%;
  height: 100%
}

.nowrap {
  white-space: nowrap;
}

.sidenav {

}

.sidenav-list * {
  padding: 15px;
}

.right-wrapper {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.content-wrapper {
  height: 100%;
  overflow-y: scroll;
}

.contents {
  max-width: 800px;
  margin: auto;
}

.small_thumb {
  width: 96px;
}