{% load static %}

<!DOCTYPE html>
<html ng-app="LibraryApp">
    <head lang="ko">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

        <!-- Angulars Material CSS now available via Google CDN;-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>


        <!-- Angular Material Javascript now available via Google CDN;-->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>

        <script src="/static/js/angular.js"></script>

        {% block head %}{% endblock %}

        <title>{% block title %}ZP Library{% endblock %}</title>
    </head>
    <body ng-controller="LibraryControl">
        <div class="height-full width-full" layout="row" flex>
            {% if toast_message %}
            <div ng-init="showToast('{{ toast_message }}')"></div>
            {% endif %}
            <md-sidenav class="md-sidenav-left sidenav md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout="column">
                <md-toolbar class="">
                    <div class="md-toolbar-tools">
                        <h1 class="md-toolbar-tools">ZP Library</h1>
                    </div>
                </md-toolbar>
                <md-content layout="column" flex>
                    <md-list class="sidenav-list" layout="column" layout-align="start">
                        <md-button class="md-primary sidenav-button" ng-href="{% url main %}" ng-click="closeLeft()">HOME</md-button>
                        <md-button class="md-primary sidenav-button" ng-href="{% url user %}" ng-click="closeLeft()">User</md-button>
                        <md-button class="md-primary sidenav-button" ng-href="{% url book_list %}" ng-click="closeLeft()">List</md-button>
                        <md-button class="md-primary sidenav-button" ng-href="{% url barcode %}" ng-click="closeLeft()">Barcode</md-button>
                        <md-button class="md-primary sidenav-button" ng-href="https://github.com/zeropage/zp-library" ng-click="closeLeft()">Get Involved*</md-button>
                    </md-list>
                </md-content>
                <md-content layout="column" layout-align="center center">
                    {% if google_user %}
                    <span>{{ google_user.email }}</span>
                        {% if library_user %}
                            <span>{{ library_user.name }} ({{ library_user.type }})</span>
                        {% endif %}
                    <md-button class="md-warn width-full" ng-href="{{ logout_url }}">LOGOUT</md-button>
                    {% else %}
                    <md-button class="md-primary width-full" ng-href="{{ login_url }}">LOGIN</md-button>
                    {% endif %}
                </md-content>
            </md-sidenav>
            <div layout="column" class="width-full height-full">
                <md-toolbar layout="row" class="md-primary md-whiteframe-z2">
                    <md-button class="width-narrow" ng-click="openLeft()" hide-gt-md>
                        MENU
                    </md-button>
                    <div>
                        <p class="md-toolbar-tools text-nowrap">
                            <strong>ZP Library</strong>
                        </p>
                    </div>
                </md-toolbar>
                <md-content md-scroll-y flex class="scrollable-y">
                    <div class="contents height-full" layout-padding>
                        {% block content %}
                        {% endblock %}
                    </div>
                </md-content>
            </div>
        </div>
    </body>
</html>