<!DOCTYPE html>
<html ng-app="LibraryApp">
    <head lang="ko">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

        <!-- Angulars Material CSS now available via Google CDN; version 0.7 used here -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>


        <!-- Angular Material Javascript now available via Google CDN; version 0.7 used here -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>

        <script src="/static/js/angular.js"></script>

        <title>{% block title %}ZP Library{% endblock %}</title>
    </head>
    <body ng-controller="LibraryControl">
        <div class="wrapper" layout="row" flex>
            <md-sidenav class="sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
                <md-toolbar class="">
                    <div class="md-toolbar-tools">
                        <h1 class="md-toolbar-tools">MENUS</h1>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-list class="sidenav-list" layout="column" layout-align="start">
                        <md-button class="md-primary" ng-href="{% url main %}">Home</md-button>
                        <md-button class="md-primary" ng-href="{% url user %}">User</md-button>
                        <md-button class="md-primary" ng-href="{% url book_list %}">List</md-button>
                    </md-list>
                </md-content>
            </md-sidenav>
            <div class="content-body">
                <md-toolbar layout="row"class="md-primary">
                    <md-button class="menu-button" ng-click="toggleLeft()" hide-gt-md>
                        MENU
                    </md-button>
                    <div>
                        <p class="md-toolbar-tools nowrap">
                            <strong>ZP Library</strong>
                        </p>
                    </div>

                </md-toolbar>
                <md-content class="contents md-padding md-whiteframe-z1">
                    {% block content %}
                    {% endblock %}
                </md-content>
            </div>
        </div>
    </body>
</html>