{% load static %}

<!DOCTYPE html>
<html ng-app="LibraryApp">
    <head lang="ko">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Angulars Material CSS now available via Google CDN;-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/static/css/main.css">

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>


        <!-- Angular Material Javascript now available via Google CDN;-->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

        <script src="/static/js/angular.js"></script>

        {% block head %}{% endblock %}

        <title>{% block title %}{{ site_name }}{% endblock %}</title>
    </head>
    <body ng-controller="LibraryControl" md-swipe-right="openLeft()" md-swipe-left="closeLeft()">
        <div class="height-full width-full" layout="row" flex>
            {% if messages %}
            {% for message in messages %}
            <div ng-init="addMessage('{{ message.tags }}', '{{ message }}')"></div>
            {% endfor %}
            <div ng-init="openBottomSheet()"></div>
            {% endif %}
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout="column">
                <md-toolbar class="">
                    <div class="md-toolbar-tools">
                        <h1 class="md-toolbar-tools">{{ site_name }}</h1>
                    </div>
                </md-toolbar>
                <md-content layout="column" flex>
                    <md-list layout="column">
                        <md-list-item ng-click="toURL('{% url main %}');">
                            <md-icon class="" md-font-set="material-icons">home</md-icon>
                            <p>Home</p>
                        </md-list-item>
                        <md-list-item ng-click="toURL('{% url user %}');">
                            <md-icon class="" md-font-set="material-icons">person</md-icon>
                            <p>User</p>
                        </md-list-item>
                        <md-list-item ng-click="toURL('{% url book_list %}');">
                            <md-icon class="" md-font-set="material-icons">list</md-icon>
                            <p>List</p>
                        </md-list-item>
                        <md-list-item ng-click="toURL('{% url barcode %}');">
                            <md-icon class="" md-font-set="material-icons">pageview</md-icon>
                            <p>Barcode</p>
                        </md-list-item>
                        <md-list-item ng-click="toURL('https://github.com/zeropage/zp-library');">
                            <md-icon class="" md-font-set="material-icons">code</md-icon>
                            <p>Get Involved *</p>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content layout="column" layout-align="center center">
                    {% if google_user %}
                    <span>{{ google_user.email }}</span>
                        {% if library_user %}
                            <span>{{ library_user.name }} ({{ library_user.type }})</span>
                        {% endif %}
                    <md-button class="md-warn width-full" ng-href="{{ logout_url }}">LOGOUT</md-button>
                    {% else %}
                    <md-button class="md-primary width-full" ng-href="{{ login_url }}">LOGIN</md-button>
                    {% endif %}
                </md-content>
            </md-sidenav>
            <div layout="column" class="width-full height-full">
                    <md-toolbar class="md-primary md-whiteframe-z2" layout="column">
                        <div layout="row" layout-align="start center">
                            <md-button class="md-icon-button" ng-click="openLeft()" hide-gt-md>
                                <md-icon md-font-set="material-icons">menu</md-icon>
                            </md-button>
                            <div>
                                <p class="md-toolbar-tools text-nowrap">
                                    <strong>{{ page_title }}</strong>
                                </p>
                            </div>
                        </div>
                        <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

                    </md-toolbar>
                <md-content layout="column" md-scroll-y flex>
                    <div class="contents" layout-padding flex>
                        {% block content %}
                        {% endblock %}
                    </div>
                </md-content>
            </div>
        </div>
    </body>
</html>