{% extends "zp_library/base.html" %}
{% block content %}

    {% if book %}
        <div layout="row" layout-sm="column">
            {% if book.thumbnail %}
            <div flex-order="1" layout-align="center center" layout="row" layout-padding>
                <img class="width-wide" src="{{ book.thumbnail }}" onerror="if (this.src != '{{ no_img_url }}') this.src = '{{ no_img_url }}';">
            </div>
            {% endif %}
            <div flex flex-order="2" layout="column">
                <div flex></div>
                <div>
                    <h2 class="md-display-2">{{ book.title|escape }}</h2>
                    <p class="md-display-1">{{ book.author|escape }}</p>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        {% if basic_info.items or extra_info.items %}
        <div>
            <md-chips class="md-primary">
                {% for key, value in basic_info.items %}
                    <md-chip><strong>{{ key }}:</strong> {{ value }}</md-chip>
                {% endfor %}

                {% for key, value in extra_info.items %}
                    <md-chip><strong>{{ key }}:</strong> {{ value }}</md-chip>
                {% endfor %}
            </md-chips>
        </div>
        {% endif %}

        {% if book.description %}
        <div>
            <h3 class="md-headline">설명</h3>
            <p>{{ book.description|escape }}</p>
        </div>
        {% endif %}

        <div>
            <h3 class="md-headline">대여 현황</h3>
            {% if borrows %}
            <div layout="row" layout-margin layout-padding layout-wrap>
                {% for borrow_record in borrows %}
                <div class="md-whiteframe-z1 background-gray" flex="20" flex-md="30" flex-sm="45">
                    <h3 class="md-title">{{ borrow_record.name }}</h3>
                    <p class="md-caption">{{ borrow_record.borrowDate }} ~ </br>{{ borrow_record.returnDate }}</p>
                </div>
                {% endfor %}
            </md-list>
            {% else %}
            <p>대여자가 없습니다.</p>
            {% endif %}
        </div>
        <md-fab-speed-dial class="md-scale" md-direction="up">
            <md-fab-trigger>
                <md-button class="md-fab" aria-label="Menu">
                    <md-icon class="" md-font-set="material-icons">keyboard_arrow_up</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <!--fixme:style used here-->
                <md-button class="md-fab md-mini md-primary" aria-label="Borrow / Return" ng-click="toURL('{% url book_borrow %}?isbn={{ isbn }}');">
                    <md-icon style="color:lightgrey" md-font-set="material-icons" >book</md-icon>
                </md-button>
                <md-button class="md-fab md-mini md-raised" aria-label="Edit" ng-click="toURL('{% url book_edit %}?isbn={{ isbn }}');">
                    <md-icon style="color:darkgrey" md-font-set="material-icons">edit</md-icon>
                </md-button>
                <md-button class="md-fab md-mini md-raised" aria-label="Delete" ng-click="toURL('{% url book_delete %}?isbn={{ isbn }}');">
                    <md-icon style="color:darkgrey" md-font-set="material-icons">delete</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    {% else %}
        <h2>NO RESULT</h2>
        <p>isbn:{{ isbn }} not found.</p>
        <a href="{% url book_add %}?isbn={{ isbn }}">add it? (admin only)</a>
    {% endif %}
{% endblock %}
