{% extends "zp_library/base.html" %}

{% block content %}

    {% if form_desc %}
    <md-card>
        <md-card-content>
            <p>{{ form_desc|linebreaks }}</p>
        </md-card-content>
    </md-card>
    {% endif %}


    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <md-input-container>
                <label>{{ field.label }}</label>
                {{ field }}
                <div ng-messages="error">
                    {% for error in field.errors %}
                        <div ng-message="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </md-input-container>
        {% endfor %}
        <md-button class="md-primary" type="submit">
            SUBMIT
        </md-button>

    </form>


{% endblock %}