{% extends "zp_library/base.html" %}

{% block content %}
    {% for book in books %}
    <p>
        <a href="/book_detail/?isbn={{ book.ISBN }}">책 제목: {{ book.title|escape }}</a>
        <br/>
        저자: {{ book.author|escape }}
    </p>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if books.has_previous %}
            <a href="?page={{ books.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
            Page {{ books.number }} of {{ books.paginator.num_pages }}.
            </span>
            {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}