{% extends "zp_library/base.html" %}

{% block content %}
    <div layout="column" layout-margin>
        <h2 flex>{{ list_title }}</h2>

        {% if books %}
            <md-list class="md-whiteframe-z1" layout="column" flex>
                {% for book in books %}
                    <md-button ng-href="/book_detail/?isbn={{ book.ISBN }}" md-no-ink layout-fil>
                        <md-item>
                            <md-item-content>
                                <div class="md-tile-left" hide-sm>
                                    <img class="width-narrow" src="{{ book.smallThumbnail }}" onerror="if (this.src != '{{ no_img_url }}') this.src = '{{ no_img_url }}';">
                                </div>
                                <div class="md-tile-content" layout="column" layout-align="center start" layout-margin>
                                    <h3 class="width-full text-ellipsis"><strong>{{ book.title }}</strong></h3>
                                    <h4 class="width-full text-ellipsis">{{ book.author }}</h4>
                                    <p class="width-full text-ellipsis">{{ book.description }}</p>
                                </div>
                            </md-item-content>
                        </md-item>
                    </md-button>
                {% endfor %}
            </md-list>

            <div class="pagination" flex>
                <span class="step-links" layout="row">
                    {% if books.has_previous %}
                        <md-button ng-href="?page={{ books.previous_page_number }}">PREV</md-button>
                    {% endif %}
                    <div layout="row" layout-align="center center" flex>
                        {% for i in page_range %}
                            {% if i == books.number %}
                                <md-button class="md-primary" ng-href="?page={{ i }}">{{ i }}</md-button>
                            {% else %}
                                <md-button ng-href="?page={{ i }}">{{ i }}</md-button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if books.has_next %}
                        <md-button ng-href="?page={{ books.next_page_number }}">NEXT</md-button>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p flex>NO RESULT</p>
        {% endif %}
    </div>
{% endblock %}