{% extends "zp_library/base.html" %}

{% block content %}
    <h2>{{ list_title }}</h2>

    {% if books %}
        <md-list layout="column">
            {% for book in books %}
                <md-button ng-href="/book_detail/?isbn={{ book.ISBN }}" md-no-ink layout-fill>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-left" hide-sm>
                                <img class="small_thumb" ng-src="{{ book.thumbnail }}" onerror="if (this.src != '{{ no_img_url }}') this.src = '{{ no_img_url }}';">
                            </div>
                            <div class="md-tile-content" layout="column" layout-align="center start" layout-margin>
                                <h3>{{ book.title }}</h3>
                                <h4>{{ book.author }}</h4>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-button>
        {% endfor %}
        </md-list>

        <div class="pagination">
            <span class="step-links">
                {% if books.has_previous %}
                    <a href="?page={{ books.previous_page_number }}">previous</a>
                {% endif %}

                {% for i in page_range %}
                    {% if i == books.number %}
                    <span class="current">
                        <a href="?page={{ i }}">{{ i }}</a>
                    </span>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if books.has_next %}
                    <a href="?page={{ books.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>NO RESULT</p>
    {% endif %}
{% endblock %}