{% extends "zp_library/base.html" %}

{% block content %}
    <div layout="column" layout-padding>
        {% if site_name %}
        <h1 class="text-center md-display-4" hide-s>{{ site_name }}</h1>
        {% endif %}

        <form class="md-whiteframe-z1" action="{% url book_list %}" method="get" layout="row" layout-padding>
            <md-input-container class="search-bar"flex>
                <input type="text" name="q">
            </md-input-container>
            <md-button class="md-primary md-icon-button" type="submit" md-no-ripple>
                <md-icon class="" md-font-set="material-icons">search</md-icon>
            </md-button>
        </form>

        {% if message %}
        <p id="notice" class="text-center"><strong>{{ message.contents }}</strong><br/>{{ message.date }}</p>
        {% endif %}

        <md-divider></md-divider>
        <div layout="row" layout-sm="column">
            <div flex>
                <h2>최근 추가 도서</h2>
                <md-list class="md-whiteframe-z1">
                    {% for book in new_books %}
                        <md-list-item class="md-2-line" ng-click="toURL('{% url book_detail %}?isbn={{ book.ISBN }}')">
                            <div class="md-list-item-text">
                                <h3>{{ book.title }}</h3>
                                <p>{{ book.registrationDate }}</p>
                            </div>
                        </md-list-item>
                    {% endfor %}
                </md-list>
            </div>
            <div flex="5"></div>
            <div flex>
                <h2>최근 대여</h2>
                <md-list class="md-whiteframe-z1">
                    {% for borrow in borrows %}
                        <md-list-item class="md-2-line" ng-click="toURL('{% url book_detail %}?isbn={{ borrow.ISBN }}')">
                            <div class="md-list-item-text">
                                <h3>{{ borrow.title }}</h3>
                                <p>{{ borrow.user_name }} / {{ borrow.borrowDate }} ~ {{ borrow.returnDate }}</p>
                            </div>
                        </md-list-item>
                    {% endfor %}
                </md-list>
            </div>
        </div>
    </div>
{% endblock %}