{% extends "zp_library/base.html" %}

{% block content %}
    <md-card>
        <md-toolbar class="">
            <h2 class="md-toolbar-tools">Message from server: </h2>
        </md-toolbar>
        <md-card-content>
            <p>{{ message }}</p>
        </md-card-content>
    </md-card>
    <section layout="row" layout-align="center center" layout-padding layout-margin layout-fill>
        <md-button flex ng-href="/user" class="md-raised" >User Page</md-button>
        <md-button flex ng-href="/book_list" class="md-raised" >Book List</md-button>
        <md-button flex ng-disabled="true" class="md-raised" >Search</md-button>
    </section>
{% endblock %}