{% extends "zp_library/base.html" %}

{% block content %}
    <md-card ng-init="showToast()">
        <md-toolbar class="md-">
            <h2 class="md-toolbar-tools">Message from server: </h2>
        </md-toolbar>
        <md-card-content>
            <p>{{ message.contents }}</p>
            <p>({{ message.date }})</p>
        </md-card-content>
    </md-card>
    <form action="{% url book_list %}" method="get" layout="row">
        <md-input-container flex>
            <label>Search</label>
            <input type="text" name="q">
        </md-input-container>
        <md-button type="submit" md-no-ripple>FIND</md-button>
    </form>

{% endblock %}