{% extends "zp_library/base.html" %}

{% block content %}

    {% if form_title or form_desc %}
        <md-card>
            {% if form_title %}
                <md-toolbar class="md-padding">
                    <h2 class="md-toolbar-tools">{{ form_title }}</h2>
                </md-toolbar>
            {% endif %}
            {% if form_desc %}
                <md-card-content>
                    <p>{{ form_desc }}</p>
                </md-card-content>
            {% endif %}
        </md-card>
    {% endif %}


    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <md-input-container>
                <label>{{ field.label }}</label>
                {{ field }}
                <div ng-messages="error">
                    {% for error in field.errors %}
                        <div ng-message="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </md-input-container>
        {% endfor %}
        <md-button class="md-primary" type="submit">
            SUBMIT
        </md-button>

    </form>


{% endblock %}