{% extends "zp_library/base.html" %}

{% block content %}

    {% if form_title or form_desc %}
        <md-card>
            {% if form_title %}
                <md-toolbar class="md-padding">
                    <h2 class="md-toolbar-tools">{{ form_title }}</h2>
                </md-toolbar>
            {% endif %}
            {% if form_desc %}
                <md-card-content>
                    <p>{{ form_desc }}</p>
                </md-card-content>
            {% endif %}
        </md-card>
    {% endif %}


    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <md-input-container>
                <label>{{ field.label }}</label>
                {{ field }}
                <div ng-messages="error">
                    {% for error in field.errors %}
                        <div ng-message="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </md-input-container>
        {% endfor %}
        <md-button class="md-primary" type="submit">
            SUBMIT
        </md-button>

    </form>

    <md-list layout="column">
        {% for item in list %}
            <md-item>
                <md-item-content>
                    <div class="md-tile-content" layout="column" layout-align="center start" layout-margin>
                        <h3 class="width-full text-ellipsis">{{ item.contents }}</h3>
                        <h4 class="width-full text-ellipsis">{{ item.date }}</h4>
                    </div>
                </md-item-content>
            </md-item>
        {% endfor %}
    </md-list>


{% endblock %}