{% extends "zp_library/base.html" %}

{% block content %}
    <div>
        <a href="/">BACK</a>
        <a href="{{ logout_url }}">LOGOUT</a>
    </div>

    <div>
        <p>account name: {{ library_user.name }}</p>
        <p>account type: {{ library_user.type }}</p>
    </div>

    <div>
    {% if library_user.type == "admin" %}

        <p>insert book data: <a href="/test">manual</a> <a href="/add_isbn">auto</a></p>
        <p>manage users: not yet. use db manager :/</p>

    {% elif library_user.type == "auth" %}
        <p>book add request: (not yet)</p>
    {% else %}
        <p>ask admin to auth</p>
    {% endif %}
    </div>
{% endblock %}