{% extends "zp_library/base.html" %}

{% block content %}
    <div>

    {% if library_user.type == "auth" or library_user.type == "admin" %}
        {% if library_user.type == "admin" %}
            <h2>ADMIN ONLY</h2>
            <div class="md-whiteframe-z1" layout-padding>
                <p>insert book data: <a href="{% url book_add %}">manual</a> <a href="{% url book_add_isbn %}">auto</a></p>
                <p>update all book data (use with caution): <a href="{% url book_update_all %}">RUN</a></p>
                <p>change notice message: <a href="{% url notice %}">click here</a> </p>
                <p>manage extra variables: <a href="{% url extra_variable %}">click here</a></p>
                <p>manage users: not yet. use db manager :/</p>
            </div>
        {% endif %}
        <h2>대여 현황</h2>
        <div class="md-whiteframe-z1" layout-padding>
            {% for borrow_record in borrows %}
                <p><a href="{% url book_detail %}?isbn={{ borrow_record.ISBN }}">{{ borrow_record.title }}</a> / {{ borrow_record.borrowDate }} ~ {{ borrow_record.returnDate }}</p>
            {% endfor %}
        </div>
    {% else %}
        <p>You are not authorized. Ask admin.</p>
    {% endif %}
    </div>
{% endblock %}